<div>
  <button ng-click="editTime()" ng-disabled="timerRunning" class="one half">Edit Time</button>
  <form ng-submit="setTime()" ng-hide="formHidden" name="timeForm" novalidate>
    <div class="row">
      <div class="one half">
        <label for="hours">Hours</label>
        <input ng-model="timeForm.hours" ng-pattern="/\d+/" type="number" name="hours" required>
      </div>
      <div class="one half">
        <label for="minutes">Minutes</label>
        <input ng-model="timeForm.minutes" ng-pattern="/\d+/" type="number" name="minutes" required>
      </div>
    </div>

    <br>
    <div class="row">
      <button ng-disabled="timeForm.$invalid || timerRunning" type="submit" class="blue">Change Time</button>
      <button ng-click="hideForm()" ng-disabled="timerRunning" type="button" class="error">Cancel</button>
    </div>
  </form>
</div>
