<div ng-controller="TimerCtrl">
  <sa-timer>
    <sa-change-time seconds="timer.timeLeft" timer-running="timer.countDownRunning"></sa-change-time>
  </sa-timer>
  <button ng-disabled="timer.countDownRunning || timer.timeLeft == 0" ng-click="startTimer()">Start Timer</button>
</div>


<div ng-controller="BrainstormCtrl" class="idea-list two thirds padded">
  <div>
    <textarea ng-disabled="!timerRunning" rows="5" cols="5" ng-model="item.title"></textarea>
    <button ng-disabled="!timerRunning" ng-click="addItem()" class="one whole blue large">Add</button>
  </div>
  <span>Credits: {{ user.credits }}/ {{ items.$getIndex().length }}</span>

  <br>
  <br>
  <br>
  <div ng-repeat="item in items | orderBy:'totalCredits':true">
    <sa-idea item="item" user="user" timer-running="timerRunning"></sa-idea>
  </div>
</div>

<div class="one third">
  <h2>X/Y</h2>
</div>
